<h4><%= link_to 'Back', pins_path %></p></h4>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= image_tag @pin.image.url, class: 'img-responsive center-block' %>
      </div>
      <div class="panel-body">
        <h5><%= @pin.description %></h5>
        <p><spam class="glyphicon glyphicon-user" aria-hidden="true"></spam> <strong><%= @pin.user.email if @pin.user %></strong><p>
      </div>
        <% if @pin.user == current_user %>
              <div class="panel-footer text-center">
          <%= link_to edit_pin_path(@pin) do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Edit
          <% end %>
                </div>
        <% end %>

    </div>
  </div>
</div>
